/* FOGLIO DI STILE PER LA PAGINA ELENCO PRODOTTI */

/* HOVER GIALLO ALLA RIGA DI OGNI SINGOLO PRODOTTO */
#riga-prodotto:hover{
    background-color: #e0de0b
}

/*FONT SIZE DELL UBICAZIONE */
#modello-componente{font-size: 0.7rem}

  .bg-categoria{
    background-image: url(../../assets/images/login_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }